* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: rgb(64, 84, 73);
    /* background: url(../image/hd-wallpaper-g4e34d05cb_640.jpg) no-repeat;
    background-size: 100% 100%; */
    opacity: 0.7;
}

#counter {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(235, 135, 135);
}

#header {
    height: 200px;
    background-color: rgb(189, 225, 135);
    position: relative;
    /* z-index: 0; */
}

#header .right-bottom {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 130px;
    right: 40px;
    /* background-color: rgb(95, 151, 84); */
    color: #fff;
}

#counter #header .right-bottom img {
    margin: 10px;
    float: left;
    width: 40px;
    height: 40px;
    color: #fff;
}

#nav {
    height: 40px;
    line-height: 40px;
    background-color: black;
    text-align: center;
    color: #fff;
    word-spacing: 120px;
}

#nav a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: rgb(240, 143, 161);
}

a:active {
    color: rgb(64, 84, 73);
}

#main {
    height: 1000px;
    background-color: rgb(217, 226, 230);
    margin-bottom: 5px;
}

#main #left {
    float: left;
    height: 1000px;
    width: 400px;
    background-color: rgb(222, 192, 117);
    text-align: center;
    font-size: 30px;
}

#main #left input {
    box-sizing: border-box;
    margin: 0 auto;
    width: 350px;
    height: 40px;
}

#main #left img {
    width: 20px;
    height: 20px;
    float: right;
}

#main #right {
    float: right;
    /* height: 1000px; */
    width: 790px;
    background-color: rgb(198, 133, 231);
}

#main #right .subdiv {
    height: 200px;
    width: 790px;
    margin: 0 auto;
    margin-bottom: 8px;
    background-color: #fff;
}

#main img {
    height: 200px;
    width: 200px;
    float: left;
}

#main .subtext {
    float: right;
    width: 560px;
    height: 200px;
    /* margin-left: 10px; */
    /* background-color: rgb(198, 170, 226); */
}

#end {
    clear: both;
    height: 20px;
    line-height: 20px;
    background-color: black;
}

#counter #header img {
    height: 200px;
    width: 1200px;
}

.fixed {
    position: fixed;
    top: 180px;
}

.fixed img {
    height: 100px;
    width: 100px;
}